.timeline {
  overflow-y: scroll;
  flex: 0.45;
  border-right: 1px solid var(--twitter-background);
}

.timeline::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
}

.timeline__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 5px 20px;
  overflow-y: scroll;
}

.timeline__header > h2 {
  font-size: 20px;
  font-weight: 800;
  overflow-y: scroll;
}
